Django==1.7.7
MySQL-python==1.2.5
Pillow==2.7.0
Whirlpool==0.3
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
beautifulsoup4==4.3.2
billiard==3.3.0.19
django-admin-tools==0.5.2
django-app-namespace-template-loader==0.2
django-blog-zinnia==0.15.1
django-contrib-comments==1.5
django-mptt==0.6.1
django-registration-redux==1.1
django-tagging==0.3.4
django-xmlrpc==0.1.5
kombu==3.0.24
pyparsing==2.0.3
pytz==2015.2
six==1.9.0
sorl-thumbnail==12.2
wsgiref==0.1.2
zinnia-theme-bootstrap==0.4
zinnia-wysiwyg-markitup==1.1
